@include media-md {

    .box {

        top: 28%;
        left: 72%;

    }

    .menu-btn {

        visibility: hidden;

    }

    .nav {

        visibility: visible;

        .menu-nav {

            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;

            &__item {

                display: inline;
                padding-right: 1.5rem;

            }

            &__link {

                font-size: 1.25rem;

            }

        }

    }

    .about__bio {

        margin-top: 5rem;
        font-size: 1.25rem;
        
    }

    .projects {

        height: 70vh;

        &__items {

            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 1fr;

        }

        &__item {

            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 0 1rem 0;
        }

        img {

            height: 100%;
            width: 100%;
            object-fit: cover;

        }

    }

    .contact {

        h2 {

            text-align: center;

        }

        &__container {

            grid-template-columns: repeat(2, 1fr);

        }

    }
    

}

@include media-lg {

    .box {

        top: 35%;
        left: 80%;

    }

    .projects {

        height: 70vh;
        justify-content: space-evenly;

        &__items {

            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 1fr;

        }

    }

    .contact__container {

        grid-template-columns: repeat(3, 1fr);

    }
    

}